p {
  margin: 0;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-card {
  width: 300px;
  border: black solid 3px;
}

.profile-card img {
  width: 100%;
}

.info {
  padding: 20px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.skill {
  display: inline-block;
  border-radius: 8px;
  padding: 3px;
}
